<p id="notice"><%= notice %></p>

<h1>Intelligence Artificielle</h1>
<h3>Traitement Automatique du Langage Naturel</h3>

<%= form_tag("/homes", method: "get") do %>
  <div class="col-md-4 col-md-offset-2">
    <div class="form-group">
      <%= select_tag(:languages, options_from_collection_for_select(@languages, "id", "name"), {class: 'form-control'}) %>
    </div>
    <div class="form-group">
        <label >Zone de communication</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Entrez votre texte" name="input">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Envoyer</button>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <label >Réponse de l'IA</label>
      <textarea class="form-control" readonly></textarea>
    </div>
  </div>
<% end %>
